.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.resume {
  max-inline-size: 90%;
  block-size: auto;
  aspect-ratio: 707/1000;
  object-position: top center;
}
