/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4056a1;
  --ifm-color-primary-dark: #3a4d91;
  --ifm-color-primary-darker: #364989;
  --ifm-color-primary-darkest: #2d3c71;
  --ifm-color-primary-light: #465fb1;
  --ifm-color-primary-lighter: #435aa9;
  --ifm-color-primary-lightest: #4860b4;
  --ifm-background-color: #e3e2de;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #66fcf1;
  --ifm-color-primary-dark: #43fbee;
  --ifm-color-primary-darker: #32fbec;
  --ifm-color-primary-darkest: #05f3e2;
  --ifm-color-primary-light: #89fdf4;
  --ifm-color-primary-lighter: #cefefb;
  --ifm-color-primary-lightest: #cefefb;
  --ifm-background-color: #0b0d10;
}